body {
    font-family: Arapey, 'Times New Roman', Times, serif;
    margin-left: 1cm;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Francois One', 'Times New Roman', Times, serif;
    display: block;
    text-align: center;
    color: rgb(88, 29, 29);
}


tei-title{
    font-family: Rochester, 'Times New Roman', Times, serif;
    display: block;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}

tei-author{
    display: block;
}

tei-castitem{
    display: block;
    margin-top: 0.5cm;
}

tei-role{
    color: rgb(160, 19, 47);
    font-weight: bold;
    font-variant: small-caps;
}

tei-roledesc{
    font-style: italic;
    color: rgb(122, 40, 40);
    margin-inline-start: 0.5cm;
}

tei-castitem[id="osric"]{
    margin-bottom: 0.5cm;
}

tei-castgroup {
    color: rgb(72, 2, 2);
    font-weight: bold;
    font-variant: small-caps;
}

tei-castitem[id="prologue"], tei-castitem[id="playerking"], tei-castitem[id="playerqueen"], tei-castitem[id="lucianus"]{
    margin-top: auto;
}

tei-castitem[id="norw_soldiers"]{
    margin-bottom: 0.5cm;
}

tei-l{
    display: block;
}

tei-sp {
    display: block;
}

tei-sp[lang="eng"]{
    display: block;
}

tei-sp[lang="spa"] tei-l{
    display: block;
    color: blueviolet;
}

tei-stage {
    display: block;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color:darkslategray;
}

tei-stage[lang="eng"] {
    color: brown;
}

tei-stage[lang="spa"] {
    color: blue;
}

tei-speaker{
    display: block;
    font-variant: small-caps;
    font-weight: bold;
    color: darkslategray;
}