body {
    font-family: Arapey, 'Times New Roman', Times, serif;
    margin-left: 1cm;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Francois One', 'Times New Roman', Times, serif;
    display: block;
    text-align: center;
    color: rgb(88, 29, 29);
}

tei-p {
    display: block;
    text-align: left;
    margin-top: 0.5cm;
}


tei-title{
    font-family: Rochester, 'Times New Roman', Times, serif;
    display: block;
    font-style: italic;
    text-align: center;
    font-size: 40px;
    color: rgb(65, 10, 10);
}

tei-author{
    display: block;
    font-family: Rochester, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    color: rgb(88, 29, 29);
}

tei-castitem{
    display: block;
    margin-top: 0.5cm;
}

tei-role{
    color: rgb(160, 19, 47);
    font-weight: bold;
    font-variant: small-caps;
}

tei-roledesc{
    font-style: italic;
    color: rgb(122, 40, 40);
    margin-inline-start: 0.5cm;
}

tei-castitem[id="osric"]{
    margin-bottom: 0.5cm;
}

tei-castgroup {
    color: rgb(72, 2, 2);
    font-weight: bold;
    font-variant: small-caps;
}

tei-castitem[id="prologue"], tei-castitem[id="playerking"], tei-castitem[id="playerqueen"], tei-castitem[id="lucianus"]{
    margin-top: auto;
}

tei-castitem[id="norw_soldiers"]{
    margin-bottom: 0.5cm;
}

tei-l{
    display: block;
}

tei-sp {
    display: block;
}

tei-sp[lang="eng"]{
    display: block;
}

tei-sp[lang="spa"] tei-l{
    display: block;
    font-weight: bold;
}

tei-stage {
    display: block;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color:darkslategray;
}

tei-stage[lang="eng"] {
    font-weight: bold;
}

tei-stage[lang="spa"] {
    font-weight: bold;
    color: rgb(108, 4, 4);
}

tei-speaker{
    display: block;
    font-variant: small-caps;
    font-weight: bold;
    color: rgb(160, 19, 47);
}

tei-lem {
    display: inline;
    font-style: italic;
    color:darkgreen;
}

tei-lem::after {
    content: "[" attr(wit) "]";
    vertical-align: sub;
    font-size: 6pt
}

tei-lem[n]::after {
    content: "__[" attr(wit) "]";
}

tei-rdg {
    display: block;
    color:  darkolivegreen;
    font-style: italic;
    text-align: right;
    margin-right: 80%;
    font-weight: bold;
}

tei-rdg::after {
    content: "[" attr(wit) "]";
    vertical-align: sub;
    font-size: 6pt;
}

tei-rdg[type="variation-absent"]::after {
    content: "__[" attr(wit) "]";
    vertical-align: sub;
    font-size: 6pt;
}

tei-rdg[type="variation-present"]::before {
    content: "^";
    vertical-align: top;
    font-size: 6pt;
}

tei-rdg[type="variation-present"]::after {
    content: "[" attr(wit) "]";
    vertical-align: sub;
    font-size: 6pt;
}